{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <p>{{ post['content'] }}</p>
    <h5>Add comments</h5>
    <form method="post">
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name="author"
                   placeholder="Author" class="form-control"
                   value="{{ request.form['author'] }}"></input>
        </div>

        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea name="comment" placeholder="Post content"
                      class="form-control">{{ request.form['comment'] }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    {% if comments %}
        <p><b>Comments</b></p>
        {% for comment in comments%}
        <div style="margin-bottom: 20px">
            <h6>{{ comment['author'] }}:  {{ comment['comment'] }}</h6>
            {{ comment['created'] }}
        </div>
            {% endfor %}

    {% else %}
        <p>No comments yet</p>
    {% endif %}
    {% if comments %}
    <form action="{{ url_for('delete_comments', id=post['id']) }}" method="POST">
    <input type="submit" value="Delete comments"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete all comments?')">
    </form>
    {% endif %}
{% endblock %}